<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/font/iconfont.css">
    <link rel="stylesheet" href="../static/styles/bootstrap.min.css">
    <link rel="stylesheet" href="../static/styles/about.css">
    <title></title>
</head>

<body>
    <!-- 路径导航 -->
    <section class="lujing">
        <div class="container">
            <div class="row">
                <span class="iconfont icon-home"></span>
                <ol class="breadcrumb">
                    <li class="active"><a href="#">关于我们</a></li>
                </ol>
            </div>
        </div>
    </section>

    <section class="title">
        <div class="container">
            <div class="row">
                <h1 class="text-center">我们文豆集团</h1>
            </div>
        </div>
    </section>

    <section class="content">
        <div class="container">
            <div class="row">
                <p>文豆网络，是一家提供互联网服务的高科技集团公司，集策划、设计、前端优化、研发、测试、系统运维、网站推广、运营、团队外包及互联网人才培养为一体的成熟业务体系。总部位于广州市客村立交财智大厦28楼。</p>
                <p>文豆主要提供高品质网站建设方案，电子商务平台解决方案，移动端应用开发方案（基于Android、iOS
                    APP及移动端网站），微应用、微商城、微官网、微互动营销解决方案，企业信息化解决方案（OA、CRM），以及PHP网站开发、Java开发、UI设计、淘宝美工人才培养服务，人才外包服务，高端IT人才猎头服务。
                </p>
                <img src="../static/images/about/about1.png" class="center-block" alt="">
            </div>
            <div class="row">
                <h3 class="con-title">公司的运营理念是：</h3>
                <p>携手共进，共赢天下</p>
                <p>以结果为导向。树立好工作目标，监督过程，实现理想效果。</p>
                <p>打造一流的团队，创造一流的服务，成为一流的行业标志。</p>
                <img src="../static/images/about/about2.png" class="center-block" alt="">
            </div>
            <div class="row">
                <h3 class="con-title">员工职业发展：</h3>
                <p>我们非常清楚职业发展计划对于每个员工的重要性。公司对人员的要求，更加看重心态，只要愿意成为文豆的一份子，公司都会让员工充分展示自己，发挥他们的潜力、才干和热情，在文豆走向职业的成功。</p>
                <img src="../static/images/about/about3.png" class="center-block" alt="">
            </div>
            <div class="row">
                <h3 class="con-title">服务理念：</h3>
                <p>产品是核心，服务是灵魂，服务是命脉。</p>
                <p>走在行业的前端，创造新的至高点。</p>
                <img src="../static/images/about/about4.png" class="center-block" alt="">
            </div>
        </div>
    </section>

    <section class="foot">
        <div class="container-fluid">
            <div class="row">
                <div class="container">
                    <div class="row">
                        <div class="col-md-4">
                            <div class="left">
                                <a href=""><img src="../static/images/index/logo.png" alt=""></a>
                                <h1 class="for">我们全心全意为你提供最优质的服务</h1>
                                <h2 class="wangz">www.wengdo.cn</h2>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="center">
                                <p class="text-center">分享文章到：
                                    <a href=""><img src="../static/images/new_detail/1.png" alt=""></a>
                                    <a href=""><img src="../static/images/new_detail/2.png" alt=""></a>
                                    <a href=""><img src="../static/images/new_detail/3.png" alt=""></a>
                                </p>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="ma">
                                <img src="../static/images/index/ma.png" class="center-block" alt="">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</body>

</html>