<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/font/iconfont.css">
    <link rel="stylesheet" href="../static/styles/bootstrap.min.css">
    <link rel="stylesheet" href="../static/styles/case.css">
    <title>Document</title>
</head>

<body>
    <!-- 路径导航 -->
    <section class="lujing">
        <div class="container">
            <div class="row">
                <span class="iconfont icon-home"></span>
                <ol class="breadcrumb">
                    <li><a href="#">案例展示</a></li>
                    <li class="active">企业品牌网站</li>
                </ol>
            </div>
        </div>
    </section>

    <section class="title">
        <div class="container">
            <h1 class="text-center">案例展示</h1>
        </div>
    </section>

    <section class="list">
        <div class="container-fluid">
            <div class="row">
                <div class="item">
                    <div class="container">
                        <div class="row">
                            <div class="sed-nav">
                                <ul>
                                    <li class="active"><a href="">企业品牌网站</a></li>
                                    <li><a href="">电子商务网站</a></li>
                                    <li><a href="">门户型网站</a></li>
                                    <li><a href="">管理系统</a></li>
                                    <li><a href="">APP应用</a></li>
                                </ul>
                            </div>
                        </div>
                        <div class="row">
                            <div class="cases">
                                <div class="col-md-3">
                                    <a href="">
                                        <img src="../static/images/cases/case1.png" class="center-block" alt="">
                                    </a>
                                </div>
                                <div class="col-md-3">
                                    <a href="">
                                        <img src="../static/images/cases/case2.png" class="center-block" alt="">
                                    </a>
                                </div>
                                <div class="col-md-3">
                                    <a href="">
                                        <img src="../static/images/cases/case3.png" class="center-block" alt="">
                                    </a>
                                </div>
                                <div class="col-md-3">
                                    <a href="">
                                        <img src="../static/images/cases/case4.png" class="center-block" alt="">
                                    </a>
                                </div>
                                <div class="col-md-3">
                                    <a href="">
                                        <img src="../static/images/cases/case5.png" class="center-block" alt="">
                                    </a>
                                </div>
                                <div class="col-md-3">
                                    <a href="">
                                        <img src="../static/images/cases/case6.png" class="center-block" alt="">
                                    </a>
                                </div>
                                <div class="col-md-3">
                                    <a href="">
                                        <img src="../static/images/cases/case7.png" class="center-block" alt="">
                                    </a>
                                </div>
                                <div class="col-md-3">
                                    <a href="">
                                        <img src="../static/images/cases/case8.png" class="center-block" alt="">
                                    </a>
                                </div>
                                <div class="col-md-3">
                                    <a href="">
                                        <img src="../static/images/cases/case9.png" class="center-block" alt="">
                                    </a>
                                </div>
                                <div class="col-md-3">
                                    <a href="">
                                        <img src="../static/images/cases/case10.png" class="center-block" alt="">
                                    </a>
                                </div>
                                <div class="col-md-3">
                                    <a href="">
                                        <img src="../static/images/cases/case11.png" class="center-block" alt="">
                                    </a>
                                </div>
                                <div class="col-md-3">
                                    <a href="">
                                        <img src="../static/images/cases/case12.png" class="center-block" alt="">
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>


        </div>
    </section>

    <!-- page -->
    <section class="page">
        <nav class="pagination-outer" aria-label="Page navigation">
            <ul class="pagination">
                <li class="page-item">
                    <a href="#" class="page-link" aria-label="Previous">
                        <span aria-hidden="true">&laquo;</span>
                    </a>
                </li>
                <li class="page-item"><a class="page-link" href="#">1</a></li>
                <li class="page-item"><a class="page-link" href="#">2</a></li>
                <li class="page-item active"><a class="page-link" href="#">3</a></li>
                <li class="page-item"><a class="page-link" href="#">4</a></li>
                <li class="page-item"><a class="page-link" href="#">5</a></li>
                <li class="page-item">
                    <a href="#" class="page-link" aria-label="Next">
                        <span aria-hidden="true">&raquo;</span>
                    </a>
                </li>
            </ul>
        </nav>
    </section>


    <script src="../static/js/jquery-3.4.1.min.js"></script>
    <script>
        $().ready(function () {
            $('.item .sed-nav ul li').mouseenter(function () {
                $(this).addClass('active').siblings().removeClass('active');
            })
        });
    </script>
</body>

</html>