<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/styles/bootstrap.min.css">
    <link rel="stylesheet" href="../static/font/iconfont.css">
    <link rel="stylesheet" href="../static/styles/case_detail.css">
    <title>Document</title>
</head>
<body>
    <!-- 路径导航 -->
    <section class="lujing">
        <div class="container">
            <div class="row">
                <span class="iconfont icon-home"></span>
                <ol class="breadcrumb">
                    <li><a href="#">案例展示</a></li>
                    <li class="active">企业品牌网站</li>
                </ol>
            </div>
        </div>
    </section>

    <section class="title">
        <div class="container">
            <h1 class="text-center">simifly</h1>
        </div>
    </section>

    <section class="list">
        <div class="container">
            <div class="row">
                <div class="out">
                    <span><a href=""><img src="../static/images/new_detail/3.png" class="pull-right link"
                                alt=""></a></span>
                    <span><a href=""><img src="../static/images/new_detail/2.png" class="pull-right link"
                                alt=""></a></span>
                    <span><a href=""><img src="../static/images/new_detail/1.png" class="pull-right link"
                                alt=""></a></span>
                </div>
            </div>
            <div class="row">
                <img src="../static/images/case_detail/case1.png" class="center-block" alt="">
            </div>
            <div class="row">
                <img src="../static/images/case_detail/case2.png"    class="center-block" alt="">
            </div>


        </div>
    </section>

    <!-- 分页 -->
    <section class="page">
        <div class="container">
            <div class="row">
                <ul class="">
                    <li><a href="#"><span class="iconfont icon-youjiantou-"></span></a></li>
                    <li class="active"><a href="#"><span class="iconfont icon-youjiantou-1"></span></a></li>
                  </ul>
            </div>
        </div>
    </section>

    <script src="../static/js/jquery-3.4.1.min.js"></script>
</body>
</html>