<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/font/iconfont.css">
    <link rel="stylesheet" href="../static/styles/bootstrap.min.css">
    <link rel="stylesheet" href="../static/styles/contact.css">
    <title></title>
</head>

<body>
    <!-- 路径导航 -->
    <section class="lujing">
        <div class="container">
            <div class="row">
                <span class="iconfont icon-home"></span>
                <ol class="breadcrumb">
                    <li class="active"><a href="#">联系我们</a></li>
                </ol>
            </div>
        </div>
    </section>

    <section class="title">
        <div class="container">
            <div class="row">
                <h1 class="text-center">联系我们</h1>
            </div>
        </div>
    </section>

    <section class="content">
        <div class="container">
            <div class="row">
                <div class="col-md-6">
                    <p>广州总部：广州海珠区广州大道南448号财智大厦28楼</p>
                    <p>深圳总部：深圳福田区福华路322号文蔚大厦4楼</p>
                    <p>广州番禺分部：广州市番禺区市桥光明北路12号锦绣华庭三座404</p>
                    <p>广州增城分部：广州增城区荔城花园东门32号</p>
                    <p>广州大学城分部：广州大学城中七路大学时光首层</p>
                    <p>广州白云分部：广州市白云区从云路839号利都商务中心B911</p>
                    <p>惠州分部：惠州市惠城区江北三新南路3号名流公馆10层05室</p>
                    <p>佛山分部:佛山市南海区桂城南新一路16号首层</p>
                    <p>东莞分部：东莞市莞城区汇峰中心E区1002室</p>
                    <p>肇庆分部：肇庆市端州区端州五路18号大楼四楼长江教育(市人才大厦前)</p>
                    <p>集团广告创意部：广州市荔湾区芳村培真路2号之2鹤展创意园A栋2楼</p>
                    <p>东莞分部：东莞市莞城区汇峰中心E区1002室</p>
                </div>
                <div class="col-md-6">
                    <form action="">
                        <div class="form-group">
                            <label for="">欢迎来电咨询或者表单联系我们/Contact us</label></div>
                        <div class="form-group">
                            <label for="">您的姓名：</label>
                            <input type="text" class="form-control" name="username" id="name" placeholder="name">
                        </div>
                        <div class="form-group">
                            <label for="">您的邮箱：</label>
                            <input type="email" class="form-control" name="email" id="email" placeholder="Email">
                          </div>
                        <div class="form-group">
                            <label for="">您的电话：</label>
                            <input type="text" name="phone" class="form-control" id="phone" placeholder="phone">
                        </div>
                        <div class="form-group">
                            <label for="">输入您要服务的内容：</label>
                            <textarea name="content" class="form-control" id="" cols="30" rows="10"></textarea>
                        </div>
                        <button type="submit" class="btn btn-default center-block sub">发送/SEND</button>
                    </form>
                </div>
            </div>
        </div>
    </section>

    <section class="foot">
        <div class="container-fluid">
            <div class="row">
                <div class="container">
                    <div class="row">
                        <div class="col-md-4">
                            <div class="left">
                                <a href=""><img src="../static/images/index/logo.png" alt=""></a>
                                <h1 class="for">我们全心全意为你提供最优质的服务</h1>
                                <h2 class="wangz">www.wengdo.cn</h2>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="center">
                                <p class="text-center">分享文章到：
                                    <a href=""><img src="../static/images/new_detail/1.png" alt=""></a>
                                    <a href=""><img src="../static/images/new_detail/2.png" alt=""></a>
                                    <a href=""><img src="../static/images/new_detail/3.png" alt=""></a>
                                </p>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="ma">
                                <img src="../static/images/index/ma.png" class="center-block" alt="">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</body>

</html>