<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1, user-scalable=no">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="../static/font/iconfont.css">
    <link rel="stylesheet" href="../static/styles/bootstrap.min.css">
    <link rel="stylesheet" href="../static/styles/swiper.min.css">
    <link rel="stylesheet" href="../static/styles/index.css">
    <title>文豆首页</title>
</head>

<body>
    <!-- 导航栏 -->
    <section class="nav">
        <div class="container-fluid">
            <div class="container">
                <div class="logo pull-left">
                    <img src="../static/images/index/logo.png" alt="">
                </div>
                <div class="navbar pull-right">
                    <ul>
                        <li class="active"><a href="">网站首页</a></li>
                        <li><a href="">案例展示</a></li>
                        <li><a href="">关于我们</a></li>
                        <li><a href="">咨询动态</a></li>
                        <li><a href="">联系我们</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </section>

    <!-- banner -->
    <section class="banner">
        <div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
            <!-- Indicators -->
            <ol class="carousel-indicators">
                <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
                <li data-target="#carousel-example-generic" data-slide-to="1"></li>
                <li data-target="#carousel-example-generic" data-slide-to="2"></li>
            </ol>

            <!-- Wrapper for slides -->
            <div class="carousel-inner" role="listbox">
                <div class="item active">
                    <img src="../static/images/index/banner.png" class="center-block" alt="...">
                    <div class="shadow">
                        <div class="carousel-caption">
                            <div class="title">
                                <label>设计</label>
                                <label>创意</label>
                                <label>方案</label>
                            </div>
                            <hr class="center-block">
                            <p class="text-center">专业的网站建设团队</p>
                            <p class="text-center">创意设计与用户体验的完美结合</p>
                        </div>
                    </div>
                </div>
                <div class="item">
                    <img src="../static/images/index/banner.png" class="center-block" alt="...">
                    <div class="shadow">
                        <div class="carousel-caption">
                            <div class="title">
                                <label>设计</label>
                                <label>创意</label>
                                <label>方案</label>
                            </div>
                            <hr class="center-block">
                            <p class="text-center">专业的网站建设团队</p>
                            <p class="text-center">创意设计与用户体验的完美结合</p>
                        </div>
                    </div>
                </div>
                <div class="item">
                    <img src="../static/images/index/banner.png" class="center-block" alt="...">
                    <div class="shadow">
                        <div class="carousel-caption">
                            <div class="title">
                                <label>设计</label>
                                <label>创意</label>
                                <label>方案</label>
                            </div>
                            <hr class="center-block">
                            <p class="text-center">专业的网站建设团队</p>
                            <p class="text-center">创意设计与用户体验的完美结合</p>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Controls -->
            <a class="left carousel-control" href="#carousel-example-generic" role="button" data-slide="prev">
                <span class="iconfont icon-zuo control" aria-hidden="true"></span>
            </a>
            <a class="right carousel-control" href="#carousel-example-generic" role="button" data-slide="next">
                <span class="iconfont icon-you control" aria-hidden="true"></span>
            </a>
        </div>
    </section>

    <!-- services -->
    <section class="services">
        <div class="container">
            <div class="row">
                <div class="col-md-12 text-center tt">
                    <h1>我们的服务</h1>
                    <h3>Services</h3>
                    <hr class="center-block">
                    <p>我们为您提供，最精致的服务，最全面的技术</p>
                </div>
            </div>
            <div class="row">
                <div class="services-items">
                    <div class="col-md-2 text-center item active">
                        <img src="../static/images/index/serv1.png" class="center-block" alt="">
                        <h6>高品质网站</h6>
                        <p>解决方案</p>
                    </div>
                    <div class="col-md-2 text-center item">
                        <img src="../static/images/index/serv2.png" class="center-block" alt="">
                        <h6>电子商务平台</h6>
                        <p>解决方案</p>
                    </div>
                    <div class="col-md-2 text-center item">
                        <img src="../static/images/index/serv3.png" class="center-block" alt="">
                        <h6>PHP网站开发人才</h6>
                        <p>培养服务</p>
                    </div>
                    <div class="col-md-2 text-center item">
                        <img src="../static/images/index/serv4.png" class="center-block" alt="">
                        <h6>网站创意设计</h6>
                        <p>解决方案</p>
                    </div>
                    <div class="col-md-2 text-center item">
                        <img src="../static/images/index/serv5.png" class="center-block" alt="">
                        <h6>微信应用公众号开发</h6>
                        <p>解决方案</p>
                    </div>
                    <div class="col-md-2 text-center item">
                        <img src="../static/images/index/serv6.png" class="center-block" alt="">
                        <h6>高品质网站</h6>
                        <p>解决方案</p>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!-- cases -->
    <section class="cases">
        <div class="container-fluid">
            <div class="container">
                <div class="row">
                    <div class="col-md-12 text-center tt">
                        <h1>案例展示</h1>
                        <h3>Cases</h3>
                        <hr class="center-block">
                    </div>
                    <ul class="center-block">
                        <li class="active"><a href="">企业品牌网站</a></li>
                        <li><a href="">电子商务网站</a></li>
                        <li><a href="">门户型网站</a></li>
                        <li><a href="">管理系统</a></li>
                        <li><a href="">团购</a></li>
                    </ul>
                </div>
                <div class="row">
                    <div class="cases-items">
                        <a href=""><img src="../static/images/index/case1.png" class="center-block" alt=""></a>
                        <a href=""><img src="../static/images/index/case2.png" class="center-block" alt=""></a>
                        <a href=""><img src="../static/images/index/case3.png" class="center-block" alt=""></a>
                        <a href=""><img src="../static/images/index/case4.png" class="center-block" alt=""></a>
                        <a href=""><img src="../static/images/index/case5.png" class="center-block" alt=""></a>
                        <a href=""><img src="../static/images/index/case6.png" class="center-block" alt=""></a>
                        <a href=""><img src="../static/images/index/case7.png" class="center-block" alt=""></a>
                        <a href=""><img src="../static/images/index/case8.png" class="center-block" alt=""></a>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!-- about us -->
    <section class="about">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-12 text-center tt">
                    <h1>关于我们</h1>
                    <h3>About us</h3>
                    <hr class="center-block">
                    <p>不用担心距离, 文豆就在你身边</p>
                </div>
            </div>
            <div class="row">
                <p class="content text-center center-block">豆网络是一家提供互联网服务的高科技集团公司集策划、设计、前端优化、研发、测试、系统运维、网站
                    推广、运营、团队外包及互联网人才培养为一体的成熟业务体系......</p>
                <img src="../static/images/index/go.png" class="center-block" alt="">
                <div class="look center-block"><a href="">点击查看</a></div>
            </div>
        </div>
    </section>

    <!-- news -->
    <section class="news">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-12 text-center tt">
                    <h1>最新资讯</h1>
                    <h3>News <a href=""><i class="iconfont icon-tianjia-copy"></i></a></h3>
                    <hr class="center-block">
                    <p>文豆集团，你身边的IT互联网专家</p>
                </div>
            </div>
            <div class="row">
                <div class="col-md-5 col-md-offset-2">
                    <div class="pull-left time">
                        <p class="m">10.19</p>
                        <p class="y">2015</p>
                    </div>
                    <div class="pull-left content">
                        <h3>PHP系统设计与云架构 <i class="iconfont icon-you hide"></i></h3>
                        <p>祝贺你成为广州市天河金领技工学校学生，学校坐落于国家第二大公共实训基地“广州开发区、萝岗区高技能人才公共实训基地”.</p>
                    </div>
                </div>
                <div class="col-md-5">
                    <div class="pull-left time">
                        <p class="m">10.19</p>
                        <p class="y">2015</p>
                    </div>
                    <div class="pull-left content">
                        <h3>PHP系统设计与云架构 <i class="iconfont icon-you hide"></i></h3>
                        <p>祝贺你成为广州市天河金领技工学校学生，学校坐落于国家第二大公共实训基地“广州开发区、萝岗区高技能人才公共实训基地”.</p>
                    </div>
                </div>
                <div class="col-md-5 col-md-offset-2">
                    <div class="pull-left time">
                        <p class="m">10.19</p>
                        <p class="y">2015</p>
                    </div>
                    <div class="pull-left content">
                        <h3>PHP系统设计与云架构 <i class="iconfont icon-you hide"></i></h3>
                        <p>祝贺你成为广州市天河金领技工学校学生，学校坐落于国家第二大公共实训基地“广州开发区、萝岗区高技能人才公共实训基地”.</p>
                    </div>
                </div>
                <div class="col-md-5">
                    <div class="pull-left time">
                        <p class="m">10.19</p>
                        <p class="y">2015</p>
                    </div>
                    <div class="pull-left content">
                        <h3>PHP系统设计与云架构 <i class="iconfont icon-you hide"></i></h3>
                        <p>祝贺你成为广州市天河金领技工学校学生，学校坐落于国家第二大公共实训基地“广州开发区、萝岗区高技能人才公共实训基地”.</p>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="partner">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-12 text-center tt">
                    <h1>合作伙伴</h1>
                    <h3>Partner</h3>
                    <hr class="center-block">
                    <p>他们选择了文豆，我们的专业合作伙伴</p>
                </div>
            </div>
            <div class="row">
                <div class="col-md-2"><a href=""><img src="../static/images/index/partner1.png" class="center-block"
                            alt=""></a></div>
                <div class="col-md-2"><a href=""><img src="../static/images/index/partner2.png" class="center-block"
                            alt=""></a></div>
                <div class="col-md-2"><a href=""><img src="../static/images/index/partner3.png" class="center-block"
                            alt=""></a></div>
                <div class="col-md-2"><a href=""><img src="../static/images/index/partner4.png" class="center-block"
                            alt=""></a></div>
                <div class="col-md-2"><a href=""><img src="../static/images/index/partner5.png" class="center-block"
                            alt=""></a></div>
                <div class="col-md-2"><a href=""><img src="../static/images/index/partner6.png" class="center-block"
                            alt=""></a></div>
                <div class="col-md-2"><a href=""><img src="../static/images/index/partner7.png" class="center-block"
                            alt=""></a></div>
                <div class="col-md-2"><a href=""><img src="../static/images/index/partner8.png" class="center-block"
                            alt=""></a></div>
                <div class="col-md-2"><a href=""><img src="../static/images/index/partner9.png" class="center-block"
                            alt=""></a></div>
                <div class="col-md-2"><a href=""><img src="../static/images/index/partner10.png" class="center-block"
                            alt=""></a></div>
                <div class="col-md-2"><a href=""><img src="../static/images/index/partner11.png" class="center-block"
                            alt=""></a></div>
                <div class="col-md-2"><a href=""><img src="../static/images/index/partner12.png" class="center-block"
                            alt=""></a></div>
            </div>
        </div>
    </section>

    <!-- foot -->
    <section class="contact">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-12 text-center tt">
                    <h1>联系我们</h1>
                    <h3>Contact us</h3>
                    <hr class="center-block">
                    <p>联系电话：020-66668888</p>
                </div>
            </div>
            <div class="row">
                <div class="col-md-3 col-md-offset-2">
                    <div class="left">
                        <p>广州总部：广州海珠区广州大道南448号财智大厦28楼</p>
                        <p>深圳总部：深圳福田区福华路322号文蔚大厦4楼</p>
                        <p>广州番禺分部：广州市番禺区市桥光明北路12号锦绣华庭三座404</p>
                        <p>广州增城分部：广州增城区荔城花园东门32号</p>
                        <p>广州大学城分部：广州大学城中七路大学时光首层</p>
                    </div>
                </div>
                <div class="col-md-2">
                    <div class="fcenter">
                        <div class="er">
                            <img src="../static/images/index/ma.png" style="display:block" alt="">
                            <img src="../static/images/index/wx.png" alt="">
                            <img src="../static/images/index/qq.png" alt="">
                            <img src="../static/images/index/hh.png" alt="">
                        </div>
                        <div class="list">
                            <img src="../static/images/index/qq.png" value="1" alt="">
                            <img src="../static/images/index/wx.png" value="2" alt="">
                            <img src="../static/images/index/hh.png" value="3" alt="">
                            <img src="../static/images/index/xl.png" value="4" alt="">
                        </div>
                    </div>
                </div>
                <div class="col-md-5">
                    <div class="right">
                        <p>广州白云分部：广州市白云区从云路839号利都商务中心B911</p>
                        <p>惠州分部：惠州市惠城区江北三新南路3号名流公馆10层05室</p>
                        <p>佛山分部:佛山市南海区桂城南新一路16号首层</p>
                        <p>东莞分部：东莞市莞城区汇峰中心E区1002室</p>
                        <p>肇庆分部：肇庆市端州区端州五路18号大楼四楼长江教育(市人才大厦前)</p>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="beian">
                    <p>粤ICP备12022584号-3</p>
                    <p>广州文豆网络科技有限公司 Copyright 2009-2015 ,All Rights Reserved wengdo</p>
                </div>
            </div>
        </div>
    </section>

    <script src="../static/js/jquery-3.4.1.min.js"></script>
    <script src="../static/js/swiper.min.js"></script>
    <script src="../static/js/bootstrap.min.js"></script>

    <!-- Initialize Swiper -->
    <script>
        $(function () {
            $('.navbar ul li').mouseenter(function () {
                $(this).addClass('active').siblings().removeClass('active');
            })
            $('.services-items .item').mouseenter(function () {
                $(this).addClass('active').siblings().removeClass('active');
            })
            $('.cases ul li').mouseenter(function () {
                $(this).addClass('active').siblings().removeClass('active');
            })
            $('.news .col-md-5').mouseenter(function () {
                $(this).addClass('active').siblings().removeClass('active');
                $(this).find('.content').find('h3').find('.icon-you').removeClass('hide').addClass('show')
                    .parent().parent().parent().siblings().find('.content').find('h3').find('.icon-you').removeClass('show').addClass('hide')
            })
        })
    </script>
</body>

</html>