<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/font/iconfont.css">
    <link rel="stylesheet" href="../static/styles/bootstrap.min.css">
    <link rel="stylesheet" href="../static/styles/new_detail.css">
    <title>Document</title>
</head>
<body>
    <!-- 路径导航 -->
    <section class="lujing">
        <div class="container">
            <div class="row">
                <span class="iconfont icon-home"></span>
                <ol class="breadcrumb">
                    <li><a href="#">资讯动态</a></li>
                    <li><a href="#">最新资讯</a></li>
                    <li class="active">PHP系统设计与云框架</li>
                </ol>
            </div>
        </div>
    </section>

    <!-- 内容 -->
    <section class="content">
        <div class="container">
            <div class="row">
                <h1 class="text-center title">PHP系统设计与云框架</h1>
                
            </div>
        </div>
    </section>
</body>
</html>