<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1, user-scalable=no">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="../static/font/iconfont.css">
    <link rel="stylesheet" href="../static/styles/bootstrap.min.css">
    <link rel="stylesheet" href="../static/styles/swiper.min.css">
    <link rel="stylesheet" href="../static/styles/news.css">
    <title>文豆新闻</title>
</head>

<body>
    <!-- 导航栏 -->
    <section class="nav">
        <div class="container-fluid">
            <div class="container">
                <div class="logo pull-left">
                    <img src="../static/images/index/logo.png" alt="">
                </div>
                <div class="navbar pull-right">
                    <ul>
                        <li><a href="">网站首页</a></li>
                        <li><a href="">案例展示</a></li>
                        <li><a href="">关于我们</a></li>
                        <li class="active"><a href="">咨询动态</a></li>
                        <li><a href="">联系我们</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </section>

    <!-- banner -->
    <section class="banner">
        <div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
            <!-- Indicators -->
            <ol class="carousel-indicators">
                <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
                <li data-target="#carousel-example-generic" data-slide-to="1"></li>
                <li data-target="#carousel-example-generic" data-slide-to="2"></li>
            </ol>

            <!-- Wrapper for slides -->
            <div class="carousel-inner" role="listbox">
                <div class="item active">
                    <img src="../static/images/new/banner.png" class="center-block" alt="...">
                </div>
                <div class="item">
                    <img src="../static/images/new/banner.png" class="center-block" alt="...">
                </div>
                <div class="item">
                    <img src="../static/images/new/banner.png" class="center-block" alt="...">
                </div>
            </div>

            <!-- Controls -->
            <a class="left carousel-control" href="#carousel-example-generic" role="button" data-slide="prev">
                <span class="iconfont icon-zuo control" aria-hidden="true"></span>
            </a>
            <a class="right carousel-control" href="#carousel-example-generic" role="button" data-slide="next">
                <span class="iconfont icon-you control" aria-hidden="true"></span>
            </a>
        </div>
    </section>

    <!-- 路径导航 -->
    <section class="lujing">
        <div class="container">
            <div class="row">
                <span class="iconfont icon-home"></span>
                <ol class="breadcrumb">
                    <li><a href="#">资讯动态</a></li>
                    <li class="active">最新资讯</li>
                </ol>
            </div>
        </div>
    </section>

    <!-- news-list -->
    <section class="news-list">
        <div class="container">
            <div class="row">
                <div class="title">
                    <h1 class="text-center">最新资讯</h1>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <div class="item">
                        <div class="media">
                            <div class="media-left">
                                <a href="#">
                                    <img class="media-object" src="../static/images/new/new.png" alt="...">
                                </a>
                            </div>
                            <div class="media-body">
                                <div class="pull-left time text-right">
                                    <p class="m">01.22</p>
                                    <p class="y">2016</p>
                                </div>
                                <div class="content pull-right">
                                    <h3><a href="">PHP系统设计与云架构</a></h3>
                                    <h4>[相关新闻]  2016-01-22 10:54:20</h4>
                                    <p>黑龙江水木创想科技发展有限公司 水木创想专注于互联网品牌建设及智慧医疗管理系统为业务核心。致力于为
                                        企事业单位、医疗、政府机构提供信息化服务。设计服务范围包括：网站设计与开发建设、智慧医疗管理系统、
                                        移动APP、电商系统、系统研发、软件定制开发、社区教育化平台等。目前与多家企事业单位保... <a href="">&lt;查看全文&gt;</a></p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="item">
                        <div class="media">
                            <div class="media-left">
                                <a href="#">
                                    <img class="media-object" src="../static/images/new/new2.png" alt="...">
                                </a>
                            </div>
                            <div class="media-body">
                                <div class="pull-left time text-right">
                                    <p class="m">01.22</p>
                                    <p class="y">2016</p>
                                </div>
                                <div class="content pull-right">
                                    <h3><a href="">PHP系统设计与云架构</a></h3>
                                    <h4>[相关新闻]  2016-01-22 10:54:20</h4>
                                    <p>黑龙江水木创想科技发展有限公司 水木创想专注于互联网品牌建设及智慧医疗管理系统为业务核心。致力于为
                                        企事业单位、医疗、政府机构提供信息化服务。设计服务范围包括：网站设计与开发建设、智慧医疗管理系统、
                                        移动APP、电商系统、系统研发、软件定制开发、社区教育化平台等。目前与多家企事业单位保... <a href="">&lt;查看全文&gt;</a></p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="item">
                        <div class="media">
                            <div class="media-left">
                                <a href="#">
                                    <img class="media-object" src="../static/images/new/new3.png" alt="...">
                                </a>
                            </div>
                            <div class="media-body">
                                <div class="pull-left time text-right">
                                    <p class="m">01.22</p>
                                    <p class="y">2016</p>
                                </div>
                                <div class="content pull-right">
                                    <h3><a href="">PHP系统设计与云架构</a></h3>
                                    <h4>[相关新闻]  2016-01-22 10:54:20</h4>
                                    <p>黑龙江水木创想科技发展有限公司 水木创想专注于互联网品牌建设及智慧医疗管理系统为业务核心。致力于为
                                        企事业单位、医疗、政府机构提供信息化服务。设计服务范围包括：网站设计与开发建设、智慧医疗管理系统、
                                        移动APP、电商系统、系统研发、软件定制开发、社区教育化平台等。目前与多家企事业单位保... <a href="">&lt;查看全文&gt;</a></p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="item">
                        <div class="media">
                            <div class="media-left">
                                <a href="#">
                                    <img class="media-object" src="../static/images/new/new4.png" alt="...">
                                </a>
                            </div>
                            <div class="media-body">
                                <div class="pull-left time text-right">
                                    <p class="m">01.22</p>
                                    <p class="y">2016</p>
                                </div>
                                <div class="content pull-right">
                                    <h3><a href="">PHP系统设计与云架构</a></h3>
                                    <h4>[相关新闻]  2016-01-22 10:54:20</h4>
                                    <p>黑龙江水木创想科技发展有限公司 水木创想专注于互联网品牌建设及智慧医疗管理系统为业务核心。致力于为
                                        企事业单位、医疗、政府机构提供信息化服务。设计服务范围包括：网站设计与开发建设、智慧医疗管理系统、
                                        移动APP、电商系统、系统研发、软件定制开发、社区教育化平台等。目前与多家企事业单位保... <a href="">&lt;查看全文&gt;</a></p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="item">
                        <div class="media">
                            <div class="media-left">
                                <a href="#">
                                    <img class="media-object" src="../static/images/new/new5.png" alt="...">
                                </a>
                            </div>
                            <div class="media-body">
                                <div class="pull-left time text-right">
                                    <p class="m">01.22</p>
                                    <p class="y">2016</p>
                                </div>
                                <div class="content pull-right">
                                    <h3><a href="">PHP系统设计与云架构</a></h3>
                                    <h4>[相关新闻]  2016-01-22 10:54:20</h4>
                                    <p>黑龙江水木创想科技发展有限公司 水木创想专注于互联网品牌建设及智慧医疗管理系统为业务核心。致力于为
                                        企事业单位、医疗、政府机构提供信息化服务。设计服务范围包括：网站设计与开发建设、智慧医疗管理系统、
                                        移动APP、电商系统、系统研发、软件定制开发、社区教育化平台等。目前与多家企事业单位保... <a href="">&lt;查看全文&gt;</a></p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="item">
                        <div class="media">
                            <div class="media-left">
                                <a href="#">
                                    <img class="media-object" src="../static/images/new/new6.png" alt="...">
                                </a>
                            </div>
                            <div class="media-body">
                                <div class="pull-left time text-right">
                                    <p class="m">01.22</p>
                                    <p class="y">2016</p>
                                </div>
                                <div class="content pull-right">
                                    <h3><a href="">PHP系统设计与云架构</a></h3>
                                    <h4>[相关新闻]  2016-01-22 10:54:20</h4>
                                    <p>黑龙江水木创想科技发展有限公司 水木创想专注于互联网品牌建设及智慧医疗管理系统为业务核心。致力于为
                                        企事业单位、医疗、政府机构提供信息化服务。设计服务范围包括：网站设计与开发建设、智慧医疗管理系统、
                                        移动APP、电商系统、系统研发、软件定制开发、社区教育化平台等。目前与多家企事业单位保... <a href="">&lt;查看全文&gt;</a></p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!-- page -->
    <section class="page">
        <div class="container">
            <div class="row">
                <nav aria-label="Page navigation">
                    <ul class="pagination">
                      <li>
                        <a href="#" aria-label="Previous">
                          <span aria-hidden="true">&laquo;</span>
                        </a>
                      </li>
                      <li><a href="#">1</a></li>
                      <li><a href="#">2</a></li>
                      <li><a href="#">3</a></li>
                      <li><a href="#">4</a></li>
                      <li><a href="#">5</a></li>
                      <li>
                        <a href="#" aria-label="Next">
                          <span aria-hidden="true">&raquo;</span>
                        </a>
                      </li>
                    </ul>
                  </nav>
            </div>
        </div>
    </section>

    <!-- foot -->
    <section class="contact">
        <div class="container-fluid">
            <div class="row">
                <div class="beian">
                    <p>粤ICP备12022584号-3</p>
                    <p>广州文豆网络科技有限公司 Copyright 2009-2015 ,All Rights Reserved wengdo</p>
                </div>
            </div>
        </div>
    </section>

    <script src="../static/js/jquery-3.4.1.min.js"></script>
    <script src="../static/js/swiper.min.js"></script>
    <script src="../static/js/bootstrap.min.js"></script>

    <!-- Initialize Swiper -->
    <script>
        $(function () {
            $('.navbar ul li').mouseenter(function () {
                $(this).addClass('active').siblings().removeClass('active');
            })
            $('.news-list .item').mouseenter(function () {
                $(this).addClass('active').siblings().removeClass('active');
            })
        })
    </script>
</body>

</html>