*{
    padding:0;
    margin:0;
}
.nav{
    position: relative;
    z-index:99;
    width:100%;
    height:50px;
    background: rgba(0,0,0,0.9);
}
.logo{
    padding:10px 0;
}
.nav .navbar{
    width:500px;
    height:100%;
    border:0;
    margin-bottom:0;
}
.navbar ul{
    list-style: none;
}
.navbar ul li{
    float:left;
    width:100px;
    height:100%;
    cursor:pointer;
    line-height:50px;
    text-align:center;
}
.navbar ul li a{
    font-size:16px;
    color:#fff;
}
.navbar ul li.active{
    background-color: #bf4609;
}

/* banner */
.banner, .banner .item img{
    margin-top:-50px;
    width:100%;
}
.carousel-caption{
    top:30%;
}
.banner .title label{
    font-size:40px;
    padding:0 15px;
    position:relative;
}
.title>label::after{
    content:'';
    border:7px solid #fff;
    border-radius:100%;
    position:absolute;
    top:22px;
    left:105px;
}
.title>label:last-child::after{
    border:0;
}
.shadow{
    top:0;
    position: absolute;
    width:100%;
    height:100%;
    z-index: 11;
    background-color: rgba(0,0,0,0.7);
}
.shadow hr{
    height: 2px;
    width: 65px;
    background-color: #ff722c;
    border: 0;
    margin-top: 5px;
}
.shadow p{
    color:#fff;
    font-size:24px;
}
.carousel-control .control{
    position: absolute;
    top: 50%;
    font-size: 50px;
}
.banner .left span{
    left:40px;
}
.carousel-indicators li{
    background-color:#939393;
    border-radius:0;
    width:30px;
    border:0;
}
.carousel-indicators .active {
    background-color:#ddd;
    width: 30px;
    height: 10px;
    margin: 1px;
}

/* services */
.services{
    padding:50px 0;
}
.services .services-title h3{
    color:#4d7343;
    font-size:30px;
}
.services .services-title h6{
    color:#73ab65;
    font-size:16px;
}
.services .services-title hr,
.cases .cases-title hr,
.about .us hr{
    width:40%;
    background-color:#c9c9c9;
    height:3px;
}
.services .services-title p{
    color:#888;
    font-size:18px;
}
.services .services-items{
    padding:20px 0;
}
.services .services-items h6,
.services .services-items p{
    color:#484848;
    font-size:16px;
}
.services .services-items .active h6,
.services .services-items .active p{
    color:#f3631c;
    font-size:16px;
}

/* cases */
.cases{
    background-color:#ededed;
    padding:50px 0;
}
.cases .cases-title h3{
    color:#4d7343;
    font-size:30px;
}
.cases .cases-title h6{
    color:#4d7343;
    font-size:16px;
}
.cases .cases-title ul{
    list-style:none;
    width:54%;
    height:50px;
}
.cases .cases-title ul li{
    float:left;
    padding:15px 20px;
}
.cases .cases-title ul li a{
    color:#888;
    font-size:18px;
}
.cases .cases-title ul li.active a{
    color:#ec6618;
}
.cases .cases-items{
    display: flex;
    justify-content:space-around;
    flex-wrap:wrap;
}
.cases .cases-items a img{
    padding:10px 0;
}

/* about us */
.about{
    background:url('../images/about.png') no-repeat;
    background-size:100%;
    padding-top:50px;
}
.about .us h3{
    color:#fefefe;
    font-size:30px;
}
.about .us h6{
    color:#ddd;
    font-size:16px;
}
.about .us p{
    color:#cdcbcb;
    font-size:18px;
}
.about .us .content{
    padding:20px 0;
    width:70%;
    font-size:16px;
    color:#fefefe;
}
.about .us .look{
    width:120px;
    height:50px;
    background-color:#fff;
    color:#fb8144;
    text-align:center;
    line-height:50px;
    border-radius:15px;
    margin:30px auto;
}



a:hover{
    text-decoration: none;
}